<!-- Toolbar with Icons in Tabular View -->
<div class="container" [formGroup]="formMaker">
  <div class="">
    <div class="card mt-4 border-light-subtle">
      <h5 class="card-header border-light-subtle">Form Details</h5>
      <div class="card-body">
        <div class="card-text">
          <div class="input-group mb-1">
            <span class="input-group-text">Form Title</span>
            <textarea class="form-control" formControlName="title" rows="1" aria-label="Form Title"></textarea>
          </div>
        </div>
        <div class="card-text">
          <div class="input-group">
            <span class="input-group-text">Form Description</span>
            <textarea class="form-control" formControlName="description" aria-label="Form Description"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class=" text-center w-50 fs-6 align-items-center" style="text-align: center;">
      <label class="form-label">Form Details</label>
      <input type="text" class="form-control" placeholder="Enter Form Title">
      <textarea class="form-control" placeholder="Enter Form Description" rows="3"></textarea>
    </div> -->

    <div class="toolbar">
      <div class="row-main width20">
        <div class="opt" *ngFor="let type of controlTypes;let i=index;">
          <button class="btn tool-button btTool" (mouseenter)="type.showAdd = true" (mouseleave)="type.showAdd = false"
            (click)="openControlConfig(type)">
            <i class="{{type.iconClass}}"></i> {{type?.fieldName}}
            <div><i *ngIf="type?.showAdd" class="fas fa-regular fa-circle-plus"></i></div>
          </button>
        </div>

      </div>


      <div class="row-main width75" formArrayName="arrayForm">
        <div class="card w-100 h-200" *ngFor="let field of arrayForm.controls;let ip=index;" [formGroupName]="ip">
          <div class="card-body">
            <h5 class="card-title">{{field?.value?.type}}</h5>
            <div class="card-text form-floating">
              <textarea class="form-control" formControlName="title" id="floatingInputInvalid{{ip}}" placeholder=""
                rows="2"></textarea>
              <label class="form-label" for="floatingInputInvalid{{ip}}">Enter your question</label>
            </div>
            <div class="mt-1 row g-3" *ngIf="field?.value?.id == 3 || field?.value?.id == 4 || field?.value?.id == 5">
              <div formArrayName="options">
                <!-- <label class="form-label ml-1">Enter options</label> -->
                <div *ngFor="let opt of field.get('options')?.controls;let io=index;" [formGroupName]="io"
                  class="input-group mb-1 w-75">
                  <span class="input-group-text" id="basic-addon1">Option {{io+1}}</span>
                  <!-- <label class="form-label" for="options{{ip}}">Enter option {{io+1}}</label> -->
                  <input type="text" class="form-control" for="options{{io}}">
                  <span *ngIf="io == field.get('options')?.controls.length-1"
                    class="input-group-text addIcon text-bg-secondary tooltip-container"><i (click)="addOptions(ip)"
                      class="fas fa-regular fa-circle-plus"></i>
                    <span class="tooltip-text">Click to add new option</span>
                  </span>
                </div>
              </div>
            </div>

            <div class="mt-1 row g-3 fs-7 align-items-center">
              <div class="w-25 mt-1 form-floating"
                *ngIf="field?.value?.id == 1 || field?.value?.id == 2 || field?.value?.id == 8 || field?.value?.id == 10">
                <input class="form-control" id="minWidth{{ip}}" formControlName="minWidth" type="number">
                <label class="form-label" for="minWidth{{ip}}">Minimum characters</label>
              </div>
              <div class="w-25 mt-1 form-floating"
                *ngIf="field?.value?.id == 1 || field?.value?.id == 2 || field?.value?.id == 8 || field?.value?.id == 10">
                <input class="form-control" id="maxWidth{{ip}}" formControlName="maxWidth" type="number">
                <label class="form-label" for="maxWidth{{ip}}">Maximum characters</label>
              </div>
              <div class="w-50 mt-1 form-floating"
                *ngIf="field?.value?.id == 1 || field?.value?.id == 2 || field?.value?.id == 10">
                <input class="form-control" id="pattern{{ip}}" formControlName="pattern" type="text">
                <label class="form-label" for="pattern{{ip}}">Specific characters pattern(Regex)</label>
              </div>
            </div>

          </div>
        </div>
      </div>



    </div>

    <div class="d-grid gap-2 col-3 mx-auto">
      <a class="btn btn-secondary" type="button" (click)="saveForm()">
        Submit
      </a>
    </div>
  </div>

  <!-- Preview -->
  <div>
    <p>
      <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
        aria-expanded="false" aria-controls="collapseWidthExample" (click)="OpenPreview()">
        Preview
      </button>
    </p>
    <div>
      <div class="collapse collapse-horizontal" id="collapseWidthExample">
        <div class="card" style="width: 90%">
          <div class="card-header text-center text-bg-secondary ">
            <h5 class="card-title">{{formMaker?.value?.title}}</h5>
            <p class="card-text">{{formMaker?.value?.description}}</p>
          </div>
          <div class="" *ngFor="let field of arrayForm.value;let ip=index;">
            <!-- text -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 1">
              <label class="form-label">{{field?.title}}</label>
              <input type="text" class="form-control" placeholder="text">
            </div>
            <!-- textarea -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 2">
              <label class="form-label">{{field?.title}}</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <!-- radio -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 3">
              <label class="form-label">{{field?.title}}</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Default radio
                </label>
              </div>
            </div>
            <!-- checkbox -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 4">
              <label class="form-label">{{field?.title}}</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Default checkbox
                </label>
              </div>
            </div>
            <!-- dropdowm -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 5">
              <label class="form-label">{{field?.title}}</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            <!-- date -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 6">
              <div class="field">
                <label>{{field?.title}}</label>
                <input type="date" placeholder="" class="form-control" id="myDateField" />
              </div>
            </div>
            <!-- file -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 7">
              <label for="formFile" class="form-label">{{field?.title}}</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <!-- numbber -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 8">
              <label for="formFile" class="form-label">{{field?.title}}</label>
              <input class="form-control" type="number" placeholder="Default input" aria-label="default input example">
            </div>
            <!-- email -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 9">
              <label for="exampleFormControlInput1" class="form-label">{{field?.title}}</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <!-- password -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 10">
              <label for="inputPassword5" class="form-label">{{field?.title}}</label>
              <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
                special characters, or emoji.
              </div>
            </div>
            <!-- label info -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 11">
              <div class="alert alert-light" role="alert">
                {{field?.title}}
              </div>
            </div>
            <!-- Link -->
            <div class="card card-body text-bg-light border-light-subtle border-bottom" *ngIf="field.id == 12">
              <div class="alert alert-light" role="alert">
                <a class="alert-link">{{field?.title}}</a>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>