<div class="d-flex">
    <h5 class="error text-center">
        <!-- <p>Invalid link. Either the link has already been used or session expired</p> -->
        <h3> You cannot access this page. Possible reasons :</h3>
        <div class="d-flex-c">
            <ul class="text-left">
                <li>
                    <h3>Session expired.</h3>
                </li>
                <li>
                    <h3>Invalid service request.</h3>
                </li>
                <li>
                    <h3>Link has been expired.</h3>
                </li>
                <li>
                    <h3>You have reached Max Retries.</h3>
                </li>
            </ul>
        </div>
    </h5>
</div>